{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-900 flex items-center justify-center h-screen p-5">
    <form
      method="post"
      action="{{ form_action }}"
      enctype="multipart/form-data"
      class="flex flex-col md:flex-row items-center bg-gray-800 p-6 md:p-12 rounded-lg shadow-lg w-full max-w-4xl"
    >
      {% csrf_token %}

      <!-- Left side: Logo -->
      <div class="w-full md:w-1/2 flex justify-center mb-6 md:mb-0">
        {% block image %} {% endblock image%}
      </div>

      <!-- Right side: Form -->
      <div class="w-full md:w-1/2">
        {% block details %}
        <p class="text-2xl font-bold text-amber-600 text-center mb-6">
          Welcome to Captive Portal
        </p>
        {% if Email%}
        <p class="text-sm font-italics text-red-600 mb-2">{{Email}}</p>
        {% endif %}

        <div class="mb-4">
          <input
            name="email"
            type="text"
            required
            class="w-full p-3 bg-gray-700 text-white rounded-lg outline-none focus:ring-2 focus:ring-green-300"
            placeholder="Email / Registration Number"
          />
        </div>

        <div class="mb-4">
          {% if Password %}
          <p class="text-sm font-italics text-red-600 mb-2">{{Password}}</p>
          {% endif%}
          <input
            type="password"
            name="password"
            required
            class="w-full p-3 bg-gray-700 text-white rounded-lg outline-none focus:ring-2 focus:ring-green-300"
            placeholder="Password"
          />
        </div>

        <div class="flex justify-end">
          <button
            type="submit"
            name="submit"
            class="bg-amber-500 text-gray-900 px-6 py-3 rounded-lg hover:bg-amber-600 transition"
          >
            Login
          </button>
        </div>
        <div class="mt-3 p-2 w-20">
          <a href="{% url 'portal:login' %}">
            <p
              class="bg-gray-500 text-white w-20 text-center rounded-full animate-pulse duration-1000 hover:animate-none"
            >
              Sign Up
            </p></a
          >
        </div>
        {% endblock details %}
      </div>
    </form>
  </body>
</html>
